<div class="row">
    <div class="col">
        <h1>Experiencia</h1>
    </div>
    <div class="row">
        <div>
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur odio, enim doloremque fuga adipisci nisi porro repellat labore, voluptatum omnis dolorem expedita dolorum fugiat inventore minus iure, unde fugit.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur odio, enim doloremque fuga adipisci nisi porro repellat labore, voluptatum omnis dolorem expedita dolorum fugiat inventore minus iure, unde fugit.</p>
                </li>
            </ul>
            <ul>
                <li>
                    <h1>Trabajo 1</h1> - <h3>(years)</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor consequatur odio, enim doloremque fuga adipisci nisi porro repellat labore, voluptatum omnis dolorem expedita dolorum fugiat inventore minus iure, unde fugit.</p>
                </li>
            </ul>
        </div>    
    </div>
</div>