<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../assets/logo-AP.jpg" id="logoAP" alt="Logo Argentina Programa">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../assets/mail.jpg" alt=""></a>
                <a href="#"><img src="../../assets/instagram.png" id="instagram" alt="Logo Instagram"></a>
                <a href="#"><img src="../../assets/wpp.png" id="wpp" alt="Logo WhatsApp"></a>
                <a href="#"><img src="../../assets/linkedin.png" id="linkedin" alt="Logo Linkedin"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Login</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged" >Cerrar Sesion</button>
            </div>        
        </div>
    </div>
</div>



